  html, body {
    padding-left: 0px;
    font-family: 'Open Sans', sans-serif;
    
}

.body {
    width: 100%;
    min-width: 1000px;
    height: auto;
}


ul {
    padding-left: 0;
    list-style-type: none;
    margin: 5px; 
    text-decoration: none;
    padding-bottom: 10px;
}

li {
    padding: 8px;
    padding-bottom: 3px;  
}

a {
    text-decoration: none;
    color: #69696a;
}


body {
    background-color: #f9fafc;
    width: 100vw; 
    display: flex;
    flex-direction: column;
}

.button {
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
    width: 85%;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    border-radius: 30px;
    padding: 10px;
    margin-top: 15px;
}

.button2 {
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
    width: 89%;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    border-radius: 30px;
    padding: 10px;
    font-size: medium;
    
}

.center {
    padding-left: 20px;
    width: 100vw;
}

h1 {
    padding-left: 5px;
}

p {
    padding-bottom: 10px;
    border-left: 3px solid #69696a;
    padding-left: 15px;
    width: 80%;
    color: #69696a;
}

/* Display for Tablet */

@media only screen and (min-width: 768px) {

    /* body {
        font-size: larger;
    } */

    ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    
    }

    .button {
        align-items: center;
        width: 95px;
        margin-top: 5px;
        margin-right: 20px;
        height: 10px;
        padding-bottom: 20px;
        /* font-size: medium; */
        
    }

    .button2 {
        width: 145px;
        margin: auto;   
    }

    .center {
        max-width: 60%;
        height: 100vh;
    }

    .left {
        height: auto;
        flex: 1;
    }

    h1 {
        margin-top: 100px;
    }

    p {
        height: auto;
    }

    .flex {
        display: flex;
        align-items: flex-end;
        width: 100%;
    }


    .dot1, .dot2, .dot3 {
        position: absolute;
        border-radius: 50%;
      }
      
      .dot1 {
            background-color: rgba(247, 136, 167, 0.6);
            height: 175px;
            width: 175px;
            top: 185px;
            right: 80px;

      }

      .dot2 {
            background-color:  rgba(207, 130, 213, 0.6);
            height: 100px;
            width: 100px;
            right: 25px;
            top: 225px;
      }

      .dot3 {
            background-color: rgba(247, 193, 162, 0.7);           
            height: 140px;
            width: 140px;
            top: 285px;
            right: 25px;
      }




}
